* {
    margin: 0;
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
} 
#table {
    border-spacing: 6px;
}
#heading {
    color: white;
    margin-top: 30px;
    margin-left: 400px;
    font-size: 45px;
    text-decoration: underline;
    font-weight: 500;
    font-family: monospace;
}
td {
    color: white;
    border: 2px solid white;
    width: 4vw;
    text-align: center;
    font-weight: 700;
    size: 12px;
    height: 4vw;}

.darkpink {
    font-size: x-large;
    border: none;
    text-align: center;
    background-color: rgb(249, 16, 125);
}
.rd {
    border: none;
    text-align: center;
    background-color: red;
    font-size: x-large;
}
#secondrow {
    margin-left: 235px;
    border-spacing: 6px;
}
.none {
    border: none;
}
.green {
    background-color: green;
    border: none;
}
.purple {
    background-color: purple;
    border: none;
}
.lightgreen {
    background-color: rgb(143, 195, 38);
    border: none;
}
.orange {
    background-color: rgb(246, 168, 23);
    border: none;
}
.brown {
    background-color: rgb(167, 78, 14);
    border: none;
}
.seagreen {
    background-color: rgb(16, 168, 160); 
    border: none;
}
.feroze {
    background-color: rgb(53, 145, 237);
    border: none;
} 
.grey {
    background-color: dimgray;
    border: none;
}
.pink {
    border: none;
    background-color: rgba(239, 94, 174, 0.959);
}
.dp {
    background-color: rgb(249, 16, 125);
    border: none;
}
.red {
    background-color: red;
    border: none;
}
.star {
    border: none ;
    font-size: x-large;
}
.staric {
    border: none ;
    font-size: x-large;
}
